@import url('http://fonts.cdnfonts.com/css/nexa-bold?styles=29919,29913');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-decoration: none;
  font-family: 'Nexa', sans-serif;
  font-weight: bold;
}

.header-img {
  height: 105vh;
  width: 100vw;
  object-fit: cover;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.container {
  position: relative;
  color: white;
}

.top-center {
  position: absolute;
  top: 0;
  width: 100%;
  height: 20vh;
}

.header {
  display: flex;
  justify-content: center;
  border-bottom: #fffdfa 1px solid;
  opacity: 0.7;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Header-Logo {
  padding-top: 30px;
}

.Header-links {
  color: #fffdfa;
  text-align: center;
  padding: 70px;
  padding-left: 35px;
  padding-right: 35px;
  text-decoration: none;
  font-size: 25px;
  line-height: 25px;
  border-radius: 4px;
  text-shadow: #0e0e0e 0px 0 20px;
}

.Header-links:hover {
  color: #2800a0;
}

.dropdown .dropbtn:hover {
  color: #2800a0;
}

.dropdown {
  overflow: hidden;
  color: #00d66c;
  text-align: center;
  padding: 70px;
  padding-left: 35px;
  padding-right: 35px;
  text-decoration: none;
  font-size: 25px;
  line-height: 25px;
  border-radius: 4px;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  background-color: transparent;
  color: #fffdfa;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  line-height: 25px;
  border-radius: 4px;
  text-shadow: #0e0e0e 0px 0 20px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #00d66c;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.OuterPHPEngine {
  display: flex;
  justify-content: center;
  padding-top: 2%;
}

.InnerPHPEngine {
  background-color: #fffdfa;
  width: 20%;
  height: 65vh;
  border-radius: 10px;
}

.InnerHigh {
  display: flex;
  border-bottom: 2px solid #2800a0;
}

.Airplane {
  padding: 5%;
  width: 20%;
}

.AirplaneText {
  color: #2800a0;
  font-size: 15px;
  padding: 7%;
  padding-left: 0;
  text-shadow: #0e0e0e 0px 0 30px;
}

.VluchtenzoekenOuter {
  display: flex;
  justify-content: center;
  padding: 5%;
}

.ZoekenInvoerVeldenOuter {
  padding-bottom: 10%;
}

.Vertrekluchthaven,
.Bestemming {
  width: 15vw;
  border-radius: 15px;
  padding: 3%;
  border: gray 1px solid;
}

.VluchtenZoekenHeader {
  color: #0e0e0e;
  font-size: 17px;
  padding-bottom: 2%;
}

.ZoekenOuter {
  display: flex;
  justify-content: center;
}

.Zoeken {
  background-color: #ff3268;
  color: white;
  border-radius: 25px;
  padding: 4%;
  text-shadow: #0e0e0e 0px 0 30px;
  border: none;
  cursor: pointer;
  box-shadow: inset 0 -0.1875em 0.0625em #ca2b55;
}

.ContainerContext {
  background-color: #fffdfa;
  width: 100%;
  height: 100vh;
}

svg {
  transform: scaleY(-1);
  margin-top: -1%;
}

.threeboxes {
  display: flex;
  justify-content: center;
  gap: 10px 20px;
}

.contextbox {
  border: #d3d3d3 1px solid;
  border-radius: 15px;
  width: 18vw;
  height: 40vh;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.greenbox {
  background-color: #00d66c;
  width: 100%;
  height: 15vh;
  border-radius: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  display: flex;
  justify-content: center;
}

.purplebox {
  background-color: #2800a0;
  width: 100%;
  height: 15vh;
  border-radius: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  display: flex;
  justify-content: center;
}

.redbox {
  background-color: #ff3268;
  width: 100%;
  height: 15vh;
  border-radius: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  display: flex;
  justify-content: center;
}

.contextboxtext1 {
  font-size: 20px;
  padding: 5%;
  display: flex;
  text-align: center;
  justify-content: center;
  color: #2800a0;
  text-shadow: #0e0e0e 0px 0 30px;
}

.contextboxtext2 {
  font-size: 20px;
  padding: 5%;
  display: flex;
  text-align: center;
  justify-content: center;
  color: #00d66c;
  text-shadow: #0e0e0e 0px 0 30px;
}
.contextboxtext3 {
  font-size: 20px;
  display: flex;
  justify-content: center;
  padding: 5%;
  text-align: center;
  color: #ff3268;
  text-shadow: #0e0e0e 0px 0 30px;
}

.contextboxundertext {
  font-size: 15px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #202020;
  font-weight: normal;
  line-height: 2;
}

.contextboximg {
  padding: 10%;
}

/* Slideshow */

.slideshow-container {
  height: 100%;
  width: 100%;
  position: relative;
  margin: auto;
  object-fit: scale-down;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  display: none;
}

.active {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 5s;
}

@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

/* -- Slideshow */

.header_vlucht_resultaten {
  width: 100%;
  height: 7vh;
  background-color: #fffdfa;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.headertext_vlucht_resultatenOuter {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.image-vluchtenOuter {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.headertext_vlucht_resultaten {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
  color: #00d66c;
  font-weight: bold;
  font-size: 25px;
}

.image-vluchten {
  width: 3vw;
}

.mainbeige_vlucht_resultaten {
  width: 100%;
  height: 69vh;
  background-color: #f3e5d8;
}

.underheader-vluchten {
  background-color: #f7f7f7;
  width: 100%;
  height: 20vh;
}

.underheaderInner-vluchten {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.headerlinks-vluchten {
  color: #00d66c;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  text-decoration: none;
  font-size: 15px;
  line-height: 25px;
  border-radius: 4px;
}

.VluchtResultatenBoxOuter {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.VluchtResultatenBoxInner {
  width: 45vw;
  height: 60vh;
  background-color: #fffdfa;
  border-radius: 15px;
}

.VluchtResultatenBoxInnerBeige {
  width: 45vw;
  height: 41vh;
  background-color: #ebded2;
}

.H1Vluchten {
  padding: 3%;
  font-size: 35px;
  color: #00d66c;
}

.ImgVluchten {
  text-align: center;
}

.body_over-ons {
  background-color: #fffdfa;
}

.below_header_over-ons {
  background-image: url(../media/mainpicture_over-ons.jpg);
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  position: relative;
}

.container_triangle {
  display: flex;
  justify-content: center;
}

.triangle {
  position: absolute;
  bottom: -537px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 70px 900px 0 900px;
  margin-top: -10%;
  border-color: transparent white white white;
}

.content_below_header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  font-size: 30px;
  position: relative;
  width: 60%;
  height: 60%;
  left: 100px;
}

.text-content_below_header {
  position: relative;
  left: 30px;
  color: white;
}

.text-content_below_header2 {
  font-size: 40px;
  font-weight: 900;
  color: #00d66c;
}

.content_firstdiv_over-ons {
  color: black;
  font-size: 30px;
  width: 40%;
}

.container_text_content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1%;
  margin-bottom: 1%;
}

.container_text_content2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.over-ons_first_div {
  width: 100%;
  height: 500px;
  background-color: #fffdfa;
}

.spacer {
  width: 100%;
  height: 3vh;
}

.spacer2 {
  width: 100%;
  height: 4vh;
}

.header_over-ons {
  display: flex;
  background-color: gray;
  justify-content: center;
  border-bottom: gray 1px solid;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.mainpicture_over-ons {
  width: 100%;
  height: 100px;
}

.VluchtBoekenButtonOuter {
  display: flex;
  justify-content: center;
  padding: 5%;
}

.VluchtboekenButton {
  background-color: #ff3268;
  color: white;
  border-radius: 25px;
  padding: 22%;
  padding-top: 9%;
  padding-bottom: 9%;
  text-shadow: #0e0e0e 0px 0 30px;
  border: none;
  cursor: pointer;
  box-shadow: inset 0 -0.1875em 0.0625em #ca2b55;
}

.tableinfo {
  padding: 3vh;
  text-align: center;
}

.tablevluchten {
  border-collapse: collapse;
  white-space: nowrap;
  font-size: 0.9em;
  padding: 2%;
  width: 60%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.tableouter {
  display: flex;
  justify-content: space-evenly;
}

.tablevluchten thead tr {
  background-color: #2800a0;
  color: #ffffff;
  text-align: center;
}

.tablevluchten th,
.tablevluchten td {
  padding: 12px 15px;
}

.tablevluchten tbody tr {
  border-bottom: 1px solid #dddddd;
}

.tablevluchten tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.tablevluchten tbody tr:last-of-type {
  border-bottom: 2px solid #2800a0;
}

.tablevluchten tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

@media only screen and (max-width: 750px) {
  .tablevluchten td {
    padding: 12px 5px;
    font-size: 0.7em;
  }
}


.contactmainbackground {
  height: 54vh;
  background-color: #fffdfa;
  display: flex;
}

.contactmainbackgroundinner1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 2%;
}

.contactmainbackgroundinner2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.contactmainbackgroundinner3 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: right;
}

.image-contact {
  width: 20%;
  height: 22%;
}

.contact-page-text {
  color: black;
  font-size: 18px;
  line-height: 1.489;
  font-weight: bold;
}

.contactimagebg {
  background-image: url('../media/pexels-tim-gouw-250701.jpg');
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  
}

.contacttextunder {
  color: white;
}

